
# choose reviewer in this team when someone opens a pull request. 
* @netway-devops-labs/developer
*.js @netway-devops-labs/backend
#*.php @netway-devops-labs/frontend
#*.tpl @netway-devops-labs/ui @netway-devops-labs/backend @netway-devops-labs/frontend
#*.html *.css *.scss *.img @netway-devops-labs/ui
